p {
    /*Content - Width and height*/
    width: 50%;
    /*Border*/
    border: 2px solid blue;
    /*padding*/
    /* padding: 10px; */
    padding-left: 40px;
    /*Margin*/
    /* margin: 100px; */
    /* margin-top: 300px; */
    /* margin: 20px 40px 300px 100px; */
    /* margin: 0 auto; */
    margin: 50px 20px;
}